@use "../components/header";
@use "../components/footer";
@use "../pages/index";
@use "../pages/sign-page";
@use "../pages/about";
@use "../pages/contact-us";
@use "../pages/privacy-policy";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
  direction: rtl;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
  background-color: #05131b !important;
  color: white !important;
  direction: rtl !important;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

svg {
  width: 20px;
}

main {
  background-image: url(../images/3D-Morph-Lines-7.png);
  background-size: cover;
  background-repeat: no-repeat;
}
