$primary-color: #877afd;
$primary2-color: #7debcd;

// start header
header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      h3 {
        font-size: 30px;

        span {
          color: $primary-color;
        }
      }
      img {
        width: 100px;
      }
    }

    .info {
      display: flex;
      align-items: center;
      gap: 40px;

      .links {
        display: flex;
        align-items: center;
        gap: 20px;

        .link {
          font-weight: 500;
          font-size: 17px;
          height: 100%;
          padding: 20px 0px;
          cursor: pointer;

          svg {
            width: 14px;
          }

          &.active,
          &:hover {
            color: $primary-color !important;
          }
        }

        .link_list {
          position: relative;

          &:hover {
            .list {
              opacity: 1;
              z-index: 100;
              top: 60px;
            }
          }

          .list {
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            background-color: white;
            font-weight: 600;
            padding: 8px 10px;
            border-radius: 5px;
            width: 170px;
            border: 1px solid #e2e2e2;
            opacity: 0;
            z-index: -1;
            transition: all 0.4s;

            .item {
              display: block;
              font-weight: 600;
              color: #37373c !important;

              &:hover {
                color: $primary-color !important;
              }

              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }

      .lang_list {
        position: relative;
        .head {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 6px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }

          span {
            font-weight: 600;
          }
        }

        .list {
          position: absolute;
          top: 35px;
          left: 0;
          padding: 8px;
          border-radius: 6px;
          box-shadow: 0px 3px 9px rgb(206, 208, 221);
          min-width: 170px;
          z-index: 5;
          background-color: white;
          display: none;
          color: black;

          &.active {
            display: block;
          }

          &.list2 {
            z-index: 15;
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            img {
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
          }

          .title {
            font-size: 22px;
            font-weight: 500;
          }

          .profile {
            display: flex;
            align-items: center;
            gap: 15px;

            img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
            }

            .text {
              .name {
                font-weight: 500;
              }

              .email {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 15px;
                color: gray;
                margin-top: 4px;
              }
            }
          }
        }
      }

      .btn_contact {
        background: $primary-color;
        color: white !important;
        font-weight: 600;
        padding: 7px 25px;
        border-radius: 4px;
        transition: all 0.4s;

        &:hover {
          color: $primary-color !important;
          background-color: transparent;
          border: 1px solid $primary-color;
        }
      }
    }

    .btn_menu {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 8px 0;
    .container {
      .logo {
        h3 {
          font-size: 25px;
        }

        img {
          width: 100px;
        }
      }

      .info {
        .links {
          display: none;
        }

        .lang_list {
          display: none;
        }

        .btn_contact {
          padding: 5px 15px;
          font-size: 14px;
          display: none;
        }

        .btn_menu {
          display: block;
          cursor: pointer;

          svg {
            width: 35px;
          }
        }
      }
    }
  }
}
// end header

// start head_page
.head_page {
  background-image: url(../images/anothermorphline.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .head_title_page {
    height: 250px;

    .container {
      height: 100%;
    }

    .content {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      h4 {
        font-size: 40px;
        color: $primary-color;
        font-weight: 600;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .head_page {
    .head_title_page {
      height: 200px;

      .content {
        text-align: center;
        h4 {
          font-size: 22px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}
// end head_page

// start menu_mobile

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.393);
  z-index: 998;
  display: none;

  &.active {
    display: block;
  }
}

.menu_mobile {
  padding: 20px;
  color: black;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: all 0.4s;

  &.active {
    left: 0;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    img {
      width: 120px;
    }

    i {
      font-size: 22px;
      cursor: pointer;
    }
  }

  .links {
    text-align: center;

    .link {
      font-size: 20px;
      font-weight: 500;
      display: block;
      margin-bottom: 15px;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(212, 212, 212);
      }

      svg {
        width: 17px;
        color: gray;
      }

      &.active {
        color: $primary-color !important;
      }
    }

    .link_list {
      position: relative;

      &:hover {
        .list {
          opacity: 1;
          z-index: 100;
          top: 60px;
        }
      }

      .list {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        font-weight: 600;

        padding: 8px 10px;
        border-radius: 5px;
        width: 170px;
        border: 1px solid #e2e2e2;
        opacity: 0;
        z-index: -1;
        transition: all 0.4s;

        .item {
          display: block;
          font-weight: 600;
          color: #37373c !important;

          &:hover {
            color: $primary-color !important;
          }

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .lang_list2 {
    position: relative;

    .head {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      gap: 6px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      span {
        font-weight: 600;
      }
    }

    .list {
      position: absolute;
      top: 35px;
      left: 0;
      padding: 8px;
      border-radius: 6px;
      box-shadow: 0px 3px 9px rgb(206, 208, 221);
      min-width: 170px;
      z-index: 5;
      background-color: white;
      display: none;
      color: black;

      &.active {
        display: block;
      }

      &.list2 {
        z-index: 15;
      }

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }

      .title {
        font-size: 22px;
        font-weight: 500;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }

        .text {
          .name {
            font-weight: 500;
          }

          .email {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            color: gray;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .btn_contact {
    background: linear-gradient(45deg, #8785f1 0%, $primary-color 100%);
    color: white !important;
    font-weight: 500;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    font-size: 15px;
    display: block;
    margin: auto;
    width: fit-content;
    margin-top: 10px;
  }
}
// end menu_mobile
